body{
    background-image: url(background.png);
}
#player{
    height: 100vh;
    width: 48%;
    position: absolute;
}
#computer{
    transform: translateX(105%);
    height: 100vh;
    width: 48%;
    position: absolute;
}
#choices{
    text-align: center;
    height: 400px;
    width: 600px;
    transform: translateX(15%) translateY(80px);
}
#choices button{
    display: inline-block;
    background-color: rgb(19, 150, 215) ;
    color: black;
    font-size: 2em;
    margin: 20px;
    transform: translateX(10px);
    border-radius: 40px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 3px white, -2px -2px 3px white;
}
#choices button:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(39, 209, 39);
}
#rockimg1{
    margin-top: 30px;
    display: none;
}
#paperimg1{
    display: none;
}
#scissorsimg1{
    display: none;
}
#rockimg2{
    margin-top: 30px;
    display: none;
}
#paperimg2{
    display: none;
}
#scissorsimg2{
    display: none;
}
.score{
    box-shadow: 2px 2px 3px black;
    background-color: white;
    position: absolute;
    text-align: center;
    border: 2px solid black;
    height: 190px;
    width: 110px;
    transform: translateY(-200px);
}
#computerscore{
    transform: translateX(700px) translateY(-200px);
    
}
.score div{
    background-color: red;
    padding: 7px;
}
#boom{
    display: none;
    position: absolute;
    transform: translateX(400px) translateY(50px);
}
#lostboom{
    display: none;
    font-size: 13em;
    position: absolute;
    transform: translateX(300px) translateY(100px);
    text-shadow: 2px 2px 3px white, -2px -2px 3px white, 4px 4px 3px white, -4px -4px 3px white, 8px 8px 3px black, -8px -8px 3px black;
}
#wonboom{
    display: none;
    font-size: 13em;
    position: absolute;
    transform: translateX(300px) translateY(100px);
    text-shadow: 2px 2px 3px white, -2px -2px 3px white, 4px 4px 3px white, -4px -4px 3px white, 8px 8px 3px black, -8px -8px 3px black;
}